<mat-card class="hero-card">
    <mat-card-content>
        <span>
        <img alt='Amber Logo' height="10%" src='/assets/images/AmberRPGFLogo.png' />
        
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
            This is a bunch of text about playing games as a family.....
        </span>
    </mat-card-content>
</mat-card>

